In [1]:
import requests
import json 
import pandas as pd

In [3]:

r = requests.get('https://poetrydb.org/author')

In [4]:
result = json.loads(r.text)
list1 = result['authors']

In [5]:
Auth_url = []
for auth in list1:
    url = 'https://poetrydb.org/author/' + '{}'.format(auth).replace(' ', '%20') + '/author,title,linecount'
    Auth_url.append(url)
len(Auth_url)

129

In [8]:
list2 = []
for i in range(0,129):
    Au_dict = Auth_url[i]
    m = requests.get(Au_dict)
    results1 = json.loads(m.text)
    list2.extend(results1)
pd.DataFrame(list2)

,title,author,linecount
0,A Song of Autumn,Adam Lindsay Gordon,16
1,An Exile's Farewell,Adam Lindsay Gordon,56
2,I Have A Rendezvous With Death,Alan Seeger,24
3,Ode in Memory of the American Volunteers Falle...,Alan Seeger,104
4,Fragments,Alan Seeger,83
...,...,...,...
3157,Beautiful Balmoral,William Topaz McGonagall,24
3158,The Daguerreotype,William Vaughn Moody,212
3159,On a Soldier Fallen in the Philippines,William Vaughn Moody,30
3160,I Wandered Lonely As A Cloud,William Wordsworth,24
3161,Lines Written In Early Spring,William Wordsworth,24